body {
  /*background-color: #f9f5da;*/
  font-family: 'Droid Serif', serif;
}
#wrapper {
  background-color: white;
  margin: 0 auto; /* centers */
  display: table; /* takes width of children */
  width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#content {
  padding-top: 5px;
  /*padding-bottom: 20px;*/
  padding-left: 20px;
  padding-right: 20px;
}
a:visited {
  color: inherit;
}
.byline {
  float: right;
  font-size: 80%;
}
.byline a {
  text-decoration: none;
  border-bottom: dotted 1px black;
}

g {
  padding-left: 20px;
}
.node circle {
  fill: white;
  stroke: black;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#story_content {
  background-color: #F0F0F0;
  font-family: 'Inconsolata', sans-serif;
  max-width: 600px;
  padding: 5px;

}
#tweet_link {
}
#leaf_tine {
    color: #C97200;
}
#root_tine {
    font-weight: bold;
    color: black;
}
#mid_tine {
    color: black;
}
