<%inherit file="/base.html"/>
<%block name="header">
    <link rel=StyleSheet href="/static/story-fork-styles.css" type="text/css"/>
</%block>

<u><h1>${title}</h1></u>
<hr>
${error_msg}
<div id="tine_index" value="${tine_index}"></div>
<div id="tweet_story"></div>
<br>
<div id="tweet_reply"></div>
<div id="chart"></div>
<script type="text/javascript" src="/static/tree-radial.js"></script>
<div id="tweet_link"></div>
<br><br>

<script>
    $(document).ready(function () {
        load_data(${tree_data}, function () { twttr.widgets.load(); });
    });
</script>

<script>
!function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location)?'http': 'https';
    if(!d.getElementById(id)){
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, 'script', 'twitter-wjs');
</script>
