<%inherit file="/base.html"/>
<%block name="header">
    <link rel=StyleSheet href="/static/story-fork-styles.css" type="text/css"/>
</%block>

<h1>Story fork</h1>
<i>Building story trees, tweet by tweet.</i>
<br>
<a href="/elsewhere/item/story-fork" target="_blank">What? I still don't understand.</a>
<hr>
${error_msg}
<h3><b>Existing stories:</b></h3>
% for story in story_list:
    <a href="view/${story.index}">Story ${story.index}: ${story.root_tine.content}</a><br>
% endfor

<script type="text/javascript" src="/static/tree-radial.js"></script>
<br>
<br>
<table>
    <tr>
        <td><h3><b>Create a story:</b></h3></td>
        <td><div id="create_story_link"></div></td>
        <td> then <a href="/story_fork/update/pleasedoit"> UPDATE</a> story fork</td>
    </tr>
</table>
<div id="update_story_fork">
</div>

<script>
    $(document).ready(function () {
        $('#create_story_link').load('/story_fork/create', function () { twttr.widgets.load(); });
    });
</script>

<script>
    !function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location)?'http': 'https';
        if(!d.getElementById(id)){
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');
</script>

